.signup-section {
  padding: 10rem 0;
  background: linear-gradient(to bottom, rgba(22,22,22,1) 0%, rgba(22,22,22,0.2) 19%, rgba(22,22,22,0.5) 71%, rgba(22,22,22,1) 100%),
    url('../images/titelbild.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  .form-inline {
    .form-row-custom {
      display: flex;
      justify-content: flex-end;
      padding: .5em;
      width: 100%;
    }
    label {
      flex: 1
    }
    input {
      box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
      padding: 1.25rem 2rem;
      height: auto;
      font-family: 'Varela Round';
      font-size: 80%;
      letter-spacing: 0.15rem;
      border: 0;
      flex: 3
    }
    textarea {
      box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
      padding: 1.25rem 2rem;
      height: auto;
      font-family: 'Varela Round';
      font-size: 80%;
      letter-spacing: 0.15rem;
      border: 0;
      flex: 3
    }

    .submit-row {
      width: 100%;
      padding: .5em;
    }
  }
}
